.ZX9speakerHome {
  width: 1110px;
  height: 560px;
  flex-shrink: 0;
  background: var(--color3);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  background-image: url("/home/desktop/pattern-circles.svg");
  background-repeat: no-repeat;
  background-size:83%;
  background-position-x: -120px;
  background-position-y: -20px;
  transition: .3s;
}

.ZX9speakerHome__images {
  position: relative;
  z-index: 1;
  transition: .3s;
}

.ZX9speakerHome__img {
  object-fit: contain;
  width: 410.234px;
  height: 493px;
  margin-left: 125px;
  margin-top: 80px;
  z-index: 5;
  transition: .3s;
}

.ZX9speakerHome__pattern {
  width: 954px;
  height: 954px;
  z-index: -1;
  position: absolute;
  top: -25px;
  left: -150px;
  transition: .3s;
}

.ZX9speakerHome__content {
  width: 349px;
  height: 303px;
  flex-shrink: 0;
  margin-left: 130px;
  margin-top: 110px;
  transition: .3s;
}

.ZX9speakerHome__title {
  color: #fff;
  font-family: Manrope;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 58px; /* 103.571% */
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 22px;
  transition: .3s;
}
.ZX9speakerHome__description {
  width: 349px;
  color: #fff;
  font-family: Manrope;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px; /* 166.667% */
  opacity: 0.75;
  margin-bottom: 40px;
  transition: .3s;
}
.ZX9speakerHome__button {
  position: relative;
  z-index: 11;
  color: #fff;
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 160px;
  height: 48px;
  background: #000;
  border: none;
  cursor: pointer;
  transition: .3s;
}

.ZX9speakerHome__button:hover {
  background: #fff;
  color: #000;
  transition: .3s;
}


@media(width<=768px){

  .ZX9speakerHome {
    width: 689px;
    height: 720px;
    flex-shrink: 0;
    flex-shrink: 0;
    background: var(--color3);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/home/tablet/pattern-circles.svg");
    background-repeat: no-repeat;
    background-size: 120%;
    background-position-y: -250px;
    background-position-x: center;
    gap: 64px;
    transition: .3s;
  }

}

@media (width<=1110px) {
  .ZX9speakerHome__pattern {
    display: none;
  }

  .ZX9speakerHome {
    width: 689px;
    height: 720px;
    flex-shrink: 0;
    flex-shrink: 0;
    background: var(--color3);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/home/desktop/pattern-circles.svg");
    background-repeat: no-repeat;
    background-size: 120%;
    background-position-y: -250px;
    background-position-x: center;
    gap: 64px;
    transition: .3s;
  }
  .ZX9speakerHome__img {
    object-fit: contain;
    width: 197.212px;
    height: 237px;
    flex-shrink: 0;
    margin-left: 0px;
    margin-top: 52px;
    z-index: 5;
    transition: .3s;
  }

  .ZX9speakerHome__images {
   display: flex;
   align-items: center;
   justify-content: center;
   transition: .3s;
  }

  .ZX9speakerHome__content {
    width: 349px;
    height: 303px;
    flex-shrink: 0;
    margin-left: 0px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .3s;
  }

  .ZX9speakerHome__content>h2, p{
    text-align: center;
    transition: .3s;
  }
}


@media(width<=650px){
  .ZX9speakerHome {
    width: 327px;
    height: 600px;
    flex-shrink: 0;
    background: var(--color3);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/home/desktop/pattern-circles.svg");
    background-repeat: no-repeat;
    background-size: 170%;
    background-position-y: -119px;
    background-position-x: center;
    gap: 64px;
    transition: .3s;
  }
  .ZX9speakerHome__title {
    color: #FFF;
    text-align: center;
    font-family: Manrope;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
    letter-spacing: 1.286px;
    text-transform: uppercase;
    transition: .3s;
  }

  .ZX9speakerHome__description {
    width: 280px;
    color: #FFF;
    text-align: center;
    font-family: Manrope;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */
    transition: .3s;
  }
  .ZX9speakerHome__img {
    object-fit: contain;
    width: 172.248px;
    height: 207px;
    flex-shrink: 0;
    flex-shrink: 0;
    margin-left: 0px;
    margin-top: 52px;
    z-index: 5;
    transition: .3s;
  }
}