.speakers {
    max-width: 1440px;
    margin: 0 auto;
  }
  
  .speakers__title {
    max-width: 1440px;
    width: 100%;
    height: 300px;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 160px;
  }
  
  .speakers__title > h1 {
    color: #FFF;
    text-align: center;
    font-family: Manrope;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    /* 110% */
    letter-spacing: 1.429px;
    text-transform: uppercase;
  }
  
  .speakers__list {
    display: flex;
    flex-direction: column;
    gap: 160px;
  }
  
  .speakers__item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 125px;
  }
  
  .speakers__item:nth-child(even){
    display: flex;
    flex-direction: row-reverse;
  }
  .speakers__badge {
    color: #d87d4a;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 10px;
    text-transform: uppercase;
    margin-bottom: 16px;
  }
  
  .speakers__name {
    max-width: 445px;
    color: #000;
    font-family: Manrope;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    /* 110% */
    letter-spacing: 1.429px;
    text-transform: uppercase;
    margin-bottom: 32px;
  }
  
  .speakers__description {
    max-width: 445px;
    color: #000;
    font-family: Manrope;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    opacity: 0.5;
    margin-bottom: 40px;
  }
  
  .speakers__button {
    border: none;
    width: 160px;
    height: 48px;
    flex-shrink: 0;
    background: #d87d4a;
    color: #fff;
    font-family: Manrope;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: .3s;
    cursor: pointer;
  }

  .speakers__button:hover{
    transition: .3s;
    background: var(--color4);
  }
  
  .speakers__images {
    width: 540px;
    height: 560px;
    flex-shrink: 0;
  }
  