.headphones {
  max-width: 1440px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5rem;
}

.headphones__contentall {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.headphones__details {
  display: flex;
  flex-direction: column;
  transition: 0.3s;
}

.headphones__title {
  max-width: 1440px;
  width: 100%;
  height: 300px;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 160px;
  transition: 0.3s;
}

.headphones__title > h1 {
  color: #fff;
  text-align: center;
  font-family: Manrope;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px; /* 110% */
  letter-spacing: 1.429px;
  text-transform: uppercase;
  transition: 0.3s;
}

.headphones__list {
  display: flex;
  flex-direction: column;
  gap: 160px;
  transition: 0.3s;
}

.headphones__item:nth-child(even) {
  display: flex;
  flex-direction: row-reverse;
  transition: 0.3s;
}

.headphones__item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 125px;
  transition: 0.3s;
}

.headphones__badge {
  color: #d87d4a;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 10px;
  text-transform: uppercase;
  margin-bottom: 16px;
  transition: 0.3s;
}

.headphones__name {
  max-width: 445px;
  color: #000;
  font-family: Manrope;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px; /* 110% */
  letter-spacing: 1.429px;
  text-transform: uppercase;
  margin-bottom: 32px;
  transition: 0.3s;
}

.headphones__description {
  max-width: 445px;
  color: #000;
  font-family: Manrope;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  opacity: 0.5;
  margin-bottom: 40px;
  transition: 0.3s;
}

.headphones__button {
  border: none;
  width: 160px;
  height: 48px;
  flex-shrink: 0;
  background: #d87d4a;
  color: #fff;
  font-family: Manrope;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
  transition: 0.3s;
}

.headphones__button:hover {
  transition: 0.3s;
  background-color: var(--color4);
  transition: 0.3s;
}

.headphones__images {
  width: 540px;
  height: 560px;
  flex-shrink: 0;
  border-radius: 8px;
  transition: 0.3s;
}

@media (width<=768px) {
  .headphones__list {
    display: flex;
    flex-direction: column;
    gap: 122px;
    transition: 0.3s;
  }
  .headphones__item {
    display: flex;
    flex-direction: column;
    gap: 125px;
    transition: 0.3s;
  }

  .headphones__item:nth-child(even) {
    display: flex;
    flex-direction: column;
    transition: 0.3s;
  }

  .headphones__images {
    max-width: 689px;
    width: 100%;
    height: 352px;
    margin-bottom: -52px;
    transition: 0.3s;
  }

  .headphones__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
  }

  .headphones__name {
    max-width: 445px;
    color: #000;
    font-family: Manrope;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 1.429px;
    text-transform: uppercase;
    margin-bottom: 32px;
    text-align: center;
    transition: 0.3s;
  }
  .headphones__description {
    max-width: 572px;
    font-weight: 400;
    transition: 0.3s;
  }

  .headphones__name {
    max-width: 300px;
    color: #000;
    font-family: Manrope;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px; /* 110% */
    letter-spacing: 1.429px;
    text-transform: uppercase;
    margin-bottom: 32px;
    transition: 0.3s;
  }
}

@media (width<=375px) {
  .headphones__item {
    display: flex;
    flex-direction: column;
    gap: 125px;
  }

  .headphones__item:nth-child(even) {
    display: flex;
    flex-direction: column;
  }

  .headphones__images {
    max-width: 327px;
    width: 100%;
    height: 352px;
    flex-shrink: 0;
  }
}
